%h1 Twelve Songs
%form{ :method => "post", :action => "create" }
	%label{ :for => "color" } color
	%input#color{ :type => "text", :name => "color", :value => @color }
	%label{ :for => "name" } name
	%input#name{ :type => "text", :name => "name" }
	%label{ :for => "description" } description
	%input#description{ :type => "text", :name => "description" }
	
	%ul
		- (1..12).each do |n|
			%li
				%input{ :type => "text", :name => "song_#{n}" }
	%input{ :type => "submit" }