%a{ :href => "/" }
	%h1 Put This Music In Your Head
%form{ :method => "post", :action => "create" }
	%label{ :for => "color" } color
	%input#color{ :type => "text", :name => "color", :value => @color }
	%label{ :for => "name" } name
	%input#name{ :type => "text", :name => "name", :style => "background-color: #{@color}" }
	%label{ :for => "description" } description
	%input#description{ :type => "text", :name => "description", :style => "background-color: #{@color}" }
	
	%ul
		- (1..12).each do |n|
			%li
				%input{ :type => "text", :name => "song_#{n}" }
	%input{ :type => "submit", :style => "background-color: #{@color}" }