%html
	%head
		%title Twelve songs
		%link{ :rel => "stylesheet", :type => "text/css", :href => "master.css" }
		= haml @head
	%body
		%img#background{ :src => "img/#{@backgroundimg}" }
		= haml @body