%h1
	%%a{ :href => "/" } this is MONDE
	%span{ :style => "color:#{@maincolor[0]}" } 
		=@maincolor[1]
%h3
	%a#create_link{ :href => "create" } DIY
%div#headercontainer
	%h2 PUT THIS MUSIC IN YOUR HEAD
%ul
	- @tapes.each do |name,color|
		%li{ :style => "background-color: #{color}" }
			%a{ :href => name }= name