%a{ :href => "/" }
	%h1 Put This Music In Your Head
%a#create_link{ :href => "create" } create
%ul
	- @tapes.each do |name,color|
		%li{ :style => "background-color: #{color}" }
			%a{ :href => name }= name