%link{ :rel => "stylesheet", :type => "text/css", :href => "tape.css" }
%script{ :src => "swfobject.js", :type => "text/javascript" }
%script{ :src => "jquery-1.4.2.js", :type => "text/javascript" }
%script{ :src => "tape.js", :type => "text/javascript" }
%style{ :type => "text/css" }
	li:hover { background-color: #{@info[2]}; }	
	li.current_song { background-color: #{@info[2]}; }
