* {
	max-width: 400px;
	margin: auto;
} 

a, a:hover, a:visited, a:active {
	color: #000;
	text-decoration: none;
}

input {
	border: solid 1px #000;
	margin: 2px;
}

input[name="name"], input[name="description"], input[name="color"] {
	float: right;
	clear: right;
	width: 75%;	
}

label {
	float: left;
	clear: left;
	line-height: 1.5em;
}

ul {
	margin: 1em;
	width: 100%;
	float: left;
	padding-left: 0;
}

li {
	list-style-type: none;
	list-style-position: inside;
	width: 100%;
	margin-left: 0;
}

li input {
	width: 100%;
}

input[type="submit"] {
	padding: .3em;
	display: block;
	margin: auto;
	font-size: 120%;
	color: #fff;
}

input[type="submit"]:hover {
	color: #000;
}

input[type="submit"]:active {
	background-color: #fff !important;
}

input[name="color"], label[for="color"], #color {
	display: none;
}