a, a:hover, a:visited, a:active {
	color: #000;
	text-decoration: none;
}

form {
	float:left;
	margin-right:2em;
}

label {
	background:#fff;
	padding:.1em .5em;
	float:left;
}

#create {
	text-align:center;
	padding:0;
}

#create label[for='color'] {
	display:none;
}

#create #color {
	display:none;
}

#create > input[type='text'] {
	float:right;
}

#create input[type='submit'] {	
	float:right;
}

ul input[type='text'] {
	margin-right:-5em;
}

li {
	list-style-type:none;
}

input[type='text'] {
	border:1px solid #000;
}

input[type='submit'] {
	border:1px solid #000;
	font-size:200%;
}

#search input[type='submit'] {	
	background:#fff;
}

#search input[type='text'] {
	font-size:200%;
}

#search ol {
	margin-left:0;
	padding-left:0;
}

.resultlink {
	background:#fff;
	margin: .3em 0;
	padding: 0 .3em;
	border: 1px solid #000;
}

.resultlink:hover {
	background: hsl(120, 80%, 80%);
	cursor:hand;
}