body {
	font-family: sans-serif;
	overflow:hidden;
}

#background {
	position: absolute;
	left:0px;
	top:0px;
	width:100%; 
	z-index:-1;
}

h1 {
	font-size:400%;
	display:inline-block;
	background:#fff;
}

h2 {
	font-size:300%;            
	background:#fff;
	display:inline-block;
}

#titlepre {
	margin-right:-.3em;
}