body {
	overflow:hidden;
	font-family:sans-serif;
}

h1 {
	font-size:400%;
	display:inline-block;
	background:#fff;
}

h2 {
	font-size:300%;            
	background:#fff;
	display:inline-block;
}

h3 {
	float:right;
	background:#fff;
}

#headercontainer {
	text-align:right;
}

li {
	display:inline-block;
	font-size: 200%;
	margin:1em;
	padding:.2em 1em;
}

a, a:hover, a:visited, a:active {
	color: #000;
	text-decoration: none;
}