ul, ol { 
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: .6em;	
	font-weight: bold;	
	cursor: pointer;
	margin-left: 0;
	background-color:#fff;
	border:1px solid #000;
	margin-top:.5em;
}

a, a:visited {
	color: #000;	
	text-decoration: none;
}

.playlist img { 
	display: none;	
}

img.buffering {
	display: inline-block;
}

.time_holder {
	display: inline-block;
	float: right;
}

#head_links {
	float:right;
	margin-top: -2.3em;
}

h1 {
	margin-top:0;
}

#name {
	margin:0;
}

#subtitlecontainer {
	text-align:right;
}

#subtitle {
	margin:0;
}